              /*reset do browser, mas existem diferentes formas. Google tem varios*/
* {            /*o '*' é oo mais fraco dos marcadores, por isso coloca em primeiro e representa todos*/
  margin: 0;   /*ao utilizar o valor 0, eu posso definir para cada elemento o valor*/
  padding: 0;  /*o navegador coloca valores automaticos quando nao definidos*/
  box-sizing: border-box;  /*espaçamento começa a contar a partir da borda interna da caixa*/
  border: 0;
 }

body{
    height: 100vh;
    font-size: 18px;
    font-family: 'Aleo', serif;
    color:rgb(33,70,138);
  }

  .background-image {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
    height: 100vh;
    display: block;
    filter: blur(0.3px) grayscale(00%) opacity(35%);
     left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
  }

  /*se a tela tiver pelo menos de 400px, carrega estes estilos*/
  @media (min-widht: 400px) {
    body{
      font-size: 14px;
    }
  }

  @media (min-widht: 600px) {
    body{
      font-size: 18px;
    }
  }
  /*chaamado breakpoint, como se fosse o valor final*/
  @media (min-widht: 1200px) {
    body{
      font-size: 20px;
    }
  }

 header {
    display: flex;
    height: 100vh;   /*viewportheight*/
    justify-content: center;
    align-items: center;
 }
  
  .menu{
    background-color: rgb(75,186,231);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    font-weight: bolder;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    flex-wrap: wrap
  }
  

  .menu li {
    list-style: none;
  }
  
  .menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 0.2s, color 0.3s;   /*pode omitir o elemento, valendo pra todos*/
  }

  .menu a:hover{
    background-color: rgb(33,70,138);
    color: rgb(75,186,231);
    border-radius: 10%;
  }

  a {   /*a tag a não consegue receber o pading, é do tamanho do texto*/
    color: rgb(33,70,138);
    text-decoration: none;
    font-size: 20px;
  }
  
  a:hover {   /*quando passar o mouse em cima, assume este padrao*/
    text-decoration: underline; 
  }

  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: /*1s entra como delay*/ linear 0.3s animacaotitulo forwards;
  }

  @keyframes animacaotitulo {
    100%{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }



  .site-subtitle, 
  .site-title {
    color: rgb(33,70,138);  
    text-align: center;
    /*se colocar fontsize aqui, o valor fica fixo e o @media nao tem efeito sobre*/
  }

  .site-title {
    font-size: 2em; /*em é uma fonte relativa*/
    font-family: 'Aleo', serif;
  }

  @media (min-width: 400px) {
    .site-title{
      font-size: 4em;
    }
  }

  @media (min-width: 900px) {
    .site-title{
      font-size: 7em;
    }
  }  
  
  @media (min-width: 1200px) {
    .site-title{
      font-size: 9em;
    }
  }


  .descricao {
    font-size: 1.5em;
    font-family: 'Aleo', serif;
    text-align: center;
    padding-top: 2em;

  }

  .site-subtitle {
    font-family: 'Aleo', serif;
    line-height: 2em;
    font-size: 2em;
  }

  .sobre,
  .portfolio,
  .disciplinas{
    padding: 2em;
    min-height: 100vh;  /*altura minima*/
  }

  .contato{
    padding: 2em;
    min-height: 100vh;  /*altura minima*/
  }
  
  @media (min-width: 1200px) {
    .container{
      margin-left :auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }
  
  .sobre h2,
  .contato h2, 
  .portfolio h2,
  .disciplinas h2{
    font-family: 'Aleo', serif;
    font-size: 1.5em;
    color: rgb(33,70,138);
    margin-top: 1em; /*margin apenas para o lado que quero*/
    margin-bottom: 1em;

  }

  .sobre p{
      color: rgb(33,70,138);
      /*text-indent: 2em;*/
      font-size: 1em;
      margin-bottom: 2em;
      text-align: justify;
      font-family: 'Aleo', serif;
  }

  .sobre a{
    color: rgb(33,70,138);
    font-size: 1em; 
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
  }

  .sobre .avatar{
    float: right;
    margin-left: .5em;

  }

  .img-avatar{
    height: 90px;
    width: 90px;
    clip-path: 0;
    border-radius:2%;

  }

  @media (min-width: 400px) {
    .sobre p{
      font-size: 1.5em;
    }
    .sobre h2, .portfolio h2, .contato h2, .disciplinas h2{
      font-size: 2em;
    }

    .sobre .avatar{
      margin-left: 2em;
  
    }
  
    .img-avatar{
      height: 150px;
      width: 150px;
    }
    
  }

  @media (min-width: 600px) {
    .sobre p{
      font-size: 2em;
    }
    .sobre h2, .portfolio h2, .contato h2, .disciplinas h2{
      font-size: 3em;
    }
    .sobre .avatar{
      margin-left: 2em;
  
    }
  
    .img-avatar{
      height: 200px;
      width: 200px;
    }  
  }


  .portfolio .grid{
    display: grid;  /* nao força as colunas, vc decide qtas*/
    gap: 2em;     /*espaçamento entre cada coluna do grid*/
    grid-template-columns: 200px; 
    justify-content: center;  
  }
  
  @media (min-width: 600px){
    .portfolio .grid {
      grid-template-columns: 240px 240px; /*colocar o tanto de colunas*/
      justify-content: center;    
    }
  }
  
  @media (min-width: 1200px){
    .portfolio .grid {
      grid-template-columns: repeat(4, 240px); /*colocar o tanto de colunas*/
      align-content: 100vh; /*x align-itens*/
      justify-content: center;
      height: calc(100vh - 4em - 48px - 1.5em);
    }
  }


  /*.img-portfolio:hover {
    transform: scale(1.1) rotate(45deg);
    transition: transform 500ms;
  } */
  .flipcard{
    height: 180px;
    perspective: 1000px;
  }


  .card {
      position: relative;
      transform-style: preserve-3d;
      transition: transform 2s;
  }

  .flipcard:hover .card{
    transform:rotateY(180deg);
  }

  .card p{
    color: rgb(75,186,231);
    align-content: space-around;
    flex-direction: column;
    font-size: 20px;
  }

  @media (min-width: 1200px){
  .card figcaption{
    font-size: 24px;
  }
}
  
  /*.card a{
    align-content: space-between;
    flex-direction: column;
    font-size: 20px;
  }*/

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 2%;
  }
  
  .card-back{
    display: flex;
    background-color: rgb(33,70,138);
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
    text-align: center;
    flex-direction: column;
    justify-content: space-around;

  }

  .portfolio figure {
    text-align: center;
    font-weight: bold;

  } 

  .img-portfolio{
    height: 180px;
    width: 100%;
    object-fit: cover; /*centraliza a imagem*/
    object-position: center;
    /*border-radius: 50%;*/ 
    transform: scale(1);
    border-radius: 2%;

  }

 /*.contato form{
    padding: 20px;
    margin: 50px;
    justify-content: center;
  }

  .contato fieldset{
    display: center;
    border-color: rgb(0,0,0,0);

    }

  .msg{
    display: flex;
    padding: 5px;
    font-size: 25px; 
  }

  .contato label{
    text-align: right;
    width: 200px;
    padding-right: 30px;
  }

  .contato input{
    width: 20em;
  }

  .contato legend{
    font-weight: bold;
    font-size: 24px;
  }


  input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
*/

  table{
    color: rgb(33,70,138);
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
  }

  tr:hover{
    background-color: rgb(151, 216, 241);
  }

  tr, th, td{
    border-bottom: 2px solid rgb(33,70,138);
    padding: 5px;
  }

  @media (min-width: 400px) {
    table {
      font-size: 1.5em;
    }
  }

  @media (min-width: 600px) {
    table {
      font-size: 2em;
    }
  }



  .contato .icons{
    text-align: center;
    display: grid;
    justify-content: center;  
    grid-template-columns: repeat(2, 120px); /*colocar o tanto de colunas*/
    height: 50 px;
  }
  

@media (min-width: 500px){
  .contato .icons{    
    grid-template-columns: repeat(4, 120px); /*colocar o tanto de colunas*/
    font-size: 1.25em;

  }
  
}
  
  .contato a {
    color:rgb(33,70,138);
    font-size: 4em;
    padding: 25px;
  }



  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 40px rgb(75,186,231);
    transition: text-shadow 1s;
  }
  
  .contato p{
    padding: 5px;
    font-size: 25px;  
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
  }



  @media (min-width: 400px) {
    .contato p{
      font-size: 1.5em;
    }

  }

  @media (min-width: 600px) {
    .contato p{
      font-size: 2em;
    }
  }
